:root {
  font-family: var(
    --chrome-font,
    -apple-system,
    blinkmacsystemfont,
    'PingFang SC',
    'Microsoft YaHei',
    'Segoe UI',
    roboto,
    'Helvetica Neue',
    arial,
    'Noto Sans',
    sans-serif
  );
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  color: rgb(0 0 0 / 88%);
  color-scheme: light;
  background-color: #fff;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
